/*----------------------------------------------------------
| FileName: 'lps_sims_ell.js'
| Description: JavaScript for LPS-SIMS-ELL plugin
| Author: Benjamin Houle
----------------------------------------------------------*/
#LPS-ELHeader.expanded {
  background-color: rgb(163, 191, 204);
}
#LPS-ELHeader.collapsed {
  background-color: rgb(237, 237, 237);
}
#LPS-ELLinks {
  flex: 0 0 auto; 
}

div.lps-row {
  display: flex;
  flex-direction: row;
}
